body {
  font-family: 'Segoe UI', sans-serif;
}

#flashcard {
  min-height: 150px;
  border-radius: 15px;
  cursor: pointer;
}

.card-side {
  transition: opacity 0.3s ease;
}

.d-none {
  display: none !important;
}
